* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1.initial-title {
    margin:auto;
    text-align: center;
}
.models {
    display: none;
}
.teste {
    display: flex;
    justify-content: center;
}
.container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.produto-cat {
    width: 250px;
    min-height: 300px;
    background-color: #ccc;
    padding: 20px;
}
.img img {
    width: 100%;
}
.sp {
    margin-bottom: 10px;
    text-align: center;
}